
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.profile-card {
    width: 320px;
    background-color: white;
    text-align: center;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.profile-card img {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 15px;
}

.profile-card h2 {
    margin-bottom: 10px;
}

.profile-card p {
    margin-bottom: 20px;
    color: gray;
}

.profile-card button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

