* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;

    background-color: #3498db;
    color: white;

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 30px;
}

.box {
    height: 1500px;
}



