body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #3498db;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  color: rgb(60, 60, 60);
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}